html, body {
    width: 100%;
    height: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
    font-family: Lato, 'Open Sans', helvetica, sans-serif;
    background-color: #191919;
}

li {
    list-style-type: none;
}

hr {
    background-color: #ffffff;
    width: 50px;
}

h2 {
    font-family: Lato, 'Open Sans', helvetica, sans-serif;
    color: #ffffff;
    font-weight: bold;
}

.redirect {
    color: #FFFFFF;
    font-weight: bold;
    font-family: Lato, 'Open Sans', helvetica, sans-serif;
    font-size: 12px;
}

header {
    background: #ffffff;
}

header a {
    color: #333;
    transition: color .5s;
    -webkit-transition: color .5s;
}
header a:hover {
    color: #0BABDA;
    background: none;
    transition: color .3s;
    -webkit-transition: color .3s;
}

/** Fonts **/


/* Navbar */
.nav>li>a:hover {
    background: none;
}

.navbar-nav > li > a:hover {
    background: none;
}

.navbar {
    border: none;
    margin: 0;
}

.navbar {
    background: #191919;
}

.nav>li>a { 
    color: #ffffff;
    display: inline-block;
    padding: 16px 15px;
}

.navbar-default {
    border-color: #444; 
}

.nav {
    font-size: 12px;
}

.nav>li>a:hover {
    color: #50b3eb;
    cursor: pointer;
    -webkit-transition: color 1s ease-out;
    -moz-transition: color 1s ease-out;
    -o-transition: color 1s ease-out;
    transition: color 1s ease-out;
}

#logo {
    margin-top: -4px;
    height: 25px;
}

/** Body **/

#content {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
    background-color: #f0f5f8;
}

.content-left {
    background: #50b3eb;
    top: 50px;
    bottom: 50px;
    width: 400px;
    padding: 80px 30px;
    position: absolute;
    border-right: thick double #191919;
    border-right-style: solid;
}

.content-right {
    position: absolute;
    top: 50px;
    bottom: 50px;
    padding-left: 400px;
    width: 100%;
}

.about-wrap {
    margin-left: auto;
    margin-right: auto;
    width: 320px;
}

.about-img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 20px auto;
    display: block;
}

.about {
    color: #ffffff;
    font-size: 17px;
    font-family: Lato, 'Open Sans', helvetica, sans-serif;
    font-weight: 100;
}


.download-resume {
    color: rgba(255,255,255,.5);
    font-weight: bold;
    font-family: Lato, 'Open Sans', helvetica, sans-serif;
    font-size: 14px;
    padding-top: 5px;
}

.download-img {
    opacity: 0.5;
    margin-right: 5px;
    margin-bottom: 5px;
}

/** Featured Product **/

.featured-product {
    background: url(../images/goodlifeFitness.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
}

.featured-content {
    width:100%;
    height:100%;
    position: absolute;
    z-index: 10;
    bottom: 0;
    
}

.featured-title-overlay {
    width:100%;
    height:150px;
    position: absolute;
    z-index: 10;
    background:rgba(0, 0, 0, 0.7);
    bottom: 0;
}

.featured-overlay {
    width:100%;
    height:100%;
    position: absolute;
    background-color:rgba(9, 9, 9, 0.5);
}

.featured-title {
    font-family: Bebas Neue, 'Open Sans', helvetica, sans-serif;
    color: #ffffff;
    letter-spacing: 1px;
    src: url("../fonts/BebasNeue/BebasNeue.otf") format("opentype");
}

.featured-body {
    color: #FFFFFF;
    bottom: 0;
    position: absolute;
    z-index: 11;
}

.featured-mobile {
    height: 462px;
    margin-left: 40px;
    position: fixed;
    bottom: -60px;
}

.featured-text-body {
    position: fixed;
    bottom: 64px;
    margin-left: 350px;
}

.learn-more-img {
    margin-left: 5px;
    margin-bottom: 2px;
}

/** Footer **/

#footer-wrap {
    background-color: #191919;
    position: fixed;
    height: 50px;
    right: 0;
    bottom: 0;
    left: 0;
}

.footer-social-media {
    margin-top: 10px;
    padding-left: 15px;
}
.footer-social-media li {
    display:inline-block;
    margin-right: 30px;
}

.facebook, .linkedin, .github , .email{
    color: #7e7e7e;
    font-size: 30px;
    -webkit-transition: color 2s ease-out;
    -moz-transition: color 2s ease-out;
    -o-transition: color 2s ease-out;
    transition: color 2s ease-out;
}

.facebook:hover, .linkedin:hover, .github:hover, .email:hover{
    color: #50b3eb;
    cursor: pointer;
}


.footer-copyright {
    color: #7e7e7e;
    float: right;
    padding-right: 15px;
    line-height: 50px;
}

.nav-footer {
    margin-left: -25px;
}

/** Portfolio **/
#portfolio-wrap {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

.portfolio-header {
    height: 300px;
    top: 0;
    background-color: #50b3eb;
}

.portfolio-title {
    padding-top: 90px;
    text-align: center;
}

.portfolio-case-studies {
    margin-left:30px;
    margin-right: 30px;
    margin-top: -70px;
    margin-bottom: 100px;
}

.case-study {
    background-color: #333;
    height: 350px;
}

.col-sm-4 {
    padding: 5px;
}