html, body {
    width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
    font-family: Lato, 'Open Sans', helvetica, sans-serif;
    background-color: #191919;
}

a {   
    text-decoration: none !important;
}

.container {
    max-width: 960px;
}

li {
    color: #50b3eb;
}

.hr-small {
    width: 50px;
}

.hr-large {
    border-top: 1px solid #ddd;
    width: 200px;
}

.hr-gaming {
    border-top: 5px solid #50b3eb;
    width: 100%;
    margin-top:-8px;   
}

th {
    padding-right: 50px;
}

.hr-line-break {
    border-top: 1px solid #ddd;
    width: 100%;
    margin-top:-8px;
}

dt {
    font-weight: 100;
    display: inline-block;
    vertical-align: top;
    width: 48.5%;
}

dd {
    display: inline-block;
    vertical-align: top;
    color: #50b3eb;
    width: 48.5%;
}

dl {
    width: 100%;
}

.purple {
    color: #a335ee;
}

.equipment-table tr {
    border-bottom: 1px solid #ddd;
    line-height: 40px;
}

.progress-bar {
    background-color: #50b3eb;
}
.progress span {
    text-align: center;
    white-space: nowrap;
    margin-top: -20px;
    float: left;
    font-size: 0.8em;
    width: 100%;
    color: #333;
}

h2 {
    font-family: Lato, 'Open Sans', helvetica, sans-serif;
    font-weight: bold;
}

h3 {
    font-family: Lato, 'Open Sans', helvetica, sans-serif;
    text-align: left;
}

h1 {
    font-family: Lato, 'Open Sans', helvetica, sans-serif;
    font-weight: bold;  
}

h4 {
    color: #50b3eb;
    font-weight: bold;
    letter-spacing: 1px;
}

.white {
    color: #ffffff;
}

.black {
    color: #333;
}

.header-center {
    text-align: center;
}

.redirect {
    font-weight: bold;
    font-family: Lato, 'Open Sans', helvetica, sans-serif;
    font-size: 0.75em;
}

header {
    background: #ffffff;
}

header a {
    color: #333;
    transition: color .5s;
    -webkit-transition: color .5s;
}
header a:hover {
    color: #0BABDA;
    background: none;
    transition: color .3s;
    -webkit-transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
}

/* Navbar */
.nav>li>a:hover {
    background: none;
}

.navbar-nav > li > a:hover {
    background: none;
}

.navbar {
    border: none;
    margin: 0;
}

.navbar {
    background: #191919;
}

.navbar-default .navbar-nav>li>a { 
    color: #ffffff;
    display: inline-block;
    padding: 16px 15px;
    -webkit-transition: color .5s ease-in-out;
    -moz-transition: color .5s ease-in-out;
    -o-transition: color .5s ease-in-out;
    transition: color .5s ease-in-out;
}

.navbar-default {
    border-color: #444; 
}

.navbar-default .navbar-nav {
    font-size: 0.75em;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #50b3eb;
    cursor: pointer;
}

.nav-right {
    padding: 16px 15px;
    float:right;
    font-size: 1.0em;
}

.login a {
    color: white;
}

.login a:hover {
    color: #50b3eb;
    cursor: pointer;
    -webkit-transition: color .5s ease-in-out;
    -moz-transition: color .5s ease-in-out;
    -o-transition: color .5s ease-in-out;
    transition: color .5s ease-in-out;
    text-decoration: none;
}

#logo {
    margin-top: -4px;
    height: 25px;
}

/** Body **/

#content {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f0f5f8;
}

.content-left {
    background: #50b3eb;
    top: 50px;
    bottom: 50px;
    width: 400px;
    z-index: 50;
    padding: 80px 30px;
    position: absolute;
    border-right: thick double #191919;
    border-right-style: solid;
}

.content-right {
    position: absolute;
    top: 50px;
    bottom: 50px;
    padding-left: 400px;
    width: 100%;
}

.about-wrap {
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
}

.about-img {
    height: 200px;
    border-radius: 50%;
    margin: -20px auto 40px;
    display: block;
}

.about {
    font-size: 1.1250em;
    font-family: Lato, 'Open Sans', helvetica, sans-serif;
    font-weight: 100;
}


.download-resume {
    color: rgba(255,255,255,.5);
    font-weight: bold;
    font-family: Lato, 'Open Sans', helvetica, sans-serif;
    font-size: 0.875em;
    padding-top: 5px;
}

.download-resume a {
    color: rgba(255,255,255,.5);
    text-decoration: none;
}


.download-img {
    opacity: 0.5;
    margin-right: 5px;
    margin-bottom: 5px;
}

/** Featured Product **/

.featured-product {
    background: url(../images/goodlifeFitness.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    min-height: 100%;
    position: relative;
}

.featured-content {
    width: 100%;
    min-height: 100%;
    position: absolute;
    z-index: 10;
    bottom: 0;
    
}

.featured-title-overlay {
    width:100%;
    height:150px;
    position: absolute;
    z-index: 10;
    background:rgba(0, 0, 0, 0.7);
    bottom: 0;
}

.featured-overlay {
    width: 100%;
    min-height: 100%;
    position: absolute;
    background-color:rgba(9, 9, 9, 0.5);
}

.featured-title {
    font-family: Bebas Neue, 'Open Sans', helvetica, sans-serif;
    color: #ffffff;
    letter-spacing: 1px;
}


.featured-title-portfolio {
    font-family: Bebas Neue, 'Open Sans', helvetica, sans-serif;
    color: #ffffff;
    letter-spacing: 1px;
    text-align: center;
    position: absolute;
    height: 100px;
    width: 200px;    
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.featured-body {
    color: #ffffff;
    bottom: 0;
    position: absolute;
    z-index: 11;
}

@media screen and (max-width: 1281px) {
    .featured-mobile {
        height: 462px;
        margin-left: 40px;
        position: fixed;
        bottom: -60px;
    }

    .featured-text-body {
        position: fixed;
        bottom: 64px;
        margin-left: 350px;
    }
}

@media screen and (min-width: 1282px) {

    .featured-mobile {
        height: 580px;
        margin-left: 40px;
        position: fixed;
        bottom: -80px;
    }

    .featured-text-body {
        position: fixed;
        bottom: 64px;
        margin-left: 430px;
    }
}


.featured-text-body a {
    color: #ffffff;
    text-decoration: none;
}

.learn-more-img {
    margin-left: 5px;
    margin-bottom: 2px;
}

/** Footer **/

#footer-wrap {
    background-color: #191919;
    position: fixed;
    height: 50px;
    right: 0;
    bottom: 0;
    left: 0;
}

.footer-social-media {
    margin-top: 10px;
    padding-left: 15px;
}
.footer-social-media li {
    display:inline-block;
    margin-right: 30px;
}

.facebook, .linkedin, .github , .email{
    color: #7e7e7e;
    font-size: 1.875em;
    -webkit-transition: color .5s ease-in-out;
    -moz-transition: color .5s ease-in-out;
    -o-transition: color .5s ease-in-out;
    transition: color .5s ease-in-out;
}

.facebook:hover, .linkedin:hover, .github:hover, .email:hover{
    color: #50b3eb;
    cursor: pointer;
}


.footer-copyright {
    color: #7e7e7e;
    float: right;
    padding-right: 15px;
    line-height: 50px;
}

.nav-footer {
    margin-left: -25px;
}

/** Portfolio **/
#portfolio-wrap {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.portfolio-header {
    height: 300px;
    top: 0;
    background-color: #50b3eb;
}



.portfolio-title {
    padding-top: 90px;
    text-align: center;
}

.portfolio-title h2 {
    color: white;
}

.portfolio-case-studies {
    margin-left:30px;
    margin-right: 30px;
    margin-top: -90px;
    margin-bottom: 100px;
}

.case-study {
    background: #fff no-repeat center center;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    position: relative;
    height: 350px;
    margin-bottom: 20px;
}

.case-study-img-overlay {
    width: 100%;
    height: 270px;
    background: rgba(9, 9, 9, 0.5);
}

.case-study-body {
    background: #ffffff;
    height: 80px;
    width: 100%;
    color: #333;
    padding: 12px;
}

.visit-site-callout {
    padding: 0;
    height: 100%;
}

.case-study-body a { 
    color: #191919;
    text-decoration: none;
}

.case-study-title {
    align-self: flex-end;
    margin-bottom: 180px;
    padding-left: 40px;
    width: 100%;
    text-align: left;
}
.case-study-title-head {
    width: auto;
}
.case-study-title-head h2 {
    display: inline-block;
    color: white;
}

.portfolio-icon-type {
    height: 30px;
    position: absolute;
    right: 0;
    margin-right:20px;
    margin-top: -30px;
}

.case-study-title {
    margin-left: 30px;
}

/** Details **/

#details-wrap {
    overflow-y: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;   
}

.details-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 50px;
    height: 100%;
    width: 100%;
    background: rgba(5,9,1,0);
    background: -moz-linear-gradient(top, rgba(5,9,1,0) 0%, rgba(0,0,0,0.99) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(5,9,1,0)), color-stop(100%, rgba(0,0,0,0.99)));
    background: -webkit-linear-gradient(top, rgba(5,9,1,0) 0%, rgba(0,0,0,0.99) 100%);
    background: -o-linear-gradient(top, rgba(5,9,1,0) 0%, rgba(0,0,0,0.99) 100%);
    background: -ms-linear-gradient(top, rgba(5,9,1,0) 0%, rgba(0,0,0,0.99) 100%);
    background: linear-gradient(to bottom, rgba(5,9,1,0) 0%, rgba(0,0,0,0.99) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#050901', endColorstr='#000000', GradientType=0 );
}

.details-nav {
    align-self: flex-end;
    height: 150px;
    width: 100%;
    background-color: #333;
    border-top: 2px solid #f0f5f8;
    position: absolute;
    bottom: 0;
    z-index: 10;
}

.details-tools {
    padding-top: 10px;
}

.case-study-title-head hr {
    border-top: 2px solid #eee;
    width: 100px;
    margin: 0;
    margin-top: 5px;
}

a.details-website {
    display: block;
    height: 100%;
    width: 100%;
    background: #50b3eb;
    text-align: center;
    text-decoration: none;
}
    
.details-icon-type {
    position: absolute;
    margin-top: -40px;
    height: 70px;  
    display: block;
    margin-left: -35px;
    left: 50%;
}

.details-website-text {
    padding: 60px;
    font-size: 1.2em;
    text-transform: uppercase;
    color: #333;
    -webkit-transition: .4s all;
    transition: .4s all;
}
.details-website-text .fa {
    color: #fff;
    margin-left: 5px;
}

.details-website:hover {
    text-decoration: none;
}

.details-website:hover .details-website-text {
    color: #fff;
    -webkit-transition: .2s all;
    transition: .2s all;
}

.detail-nav-header {
    margin-left: 10px;
    padding: 5px;   
}

.details-body {
    min-height: 100%;
    width: 100%;
    background-color: #f0f5f8;
    padding-top: 20px;
    padding-bottom: 150px;
}

.details-content {
    line-height: 25px;
    padding-bottom: 30px;
}

.details-features {
    margin-top: 20px;
}

.details-features li {
    padding-left: 0;
}

.details-content-img {
    height: 550px;
    width: 100%;
    background: url(../images/multiscreen.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.details-title {
    font-family: Bebas Neue, 'Open Sans', helvetica, sans-serif;
    color: #333;
    letter-spacing: 1px;
    text-align: left;
    letter-spacing: 2px;
}

.details-seconday-img {
    position: relative;
    clear: both;
    height: auto;
    width: 100%;
}

.details-screens {
    position: relative;
    clear: both;
    height: 570px;
}

.details-screens div {
    position: absolute;
    width: 350px;
    height: 607px;
    background: url(../images/portfolio/multiscreen/multiscreen.png) no-repeat top left;
    margin-top: 20px;
}

.details-screens div:not(.left):not(.right) {
    left: 50%;
    z-index: 6;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}


.details-screens div.left:nth-child(1) {
    left: -15%;
    z-index: 2;
}
.details-screens div:nth-child(1) {
    background-position: -0px 0;
}

.details-screens div.left:nth-child(2) {
    left: -6%;
    z-index: 3;
}
.details-screens div:nth-child(2) {
    background-position: -350px 0;
}

.details-screens div.left:nth-child(3) {
    left: 5%;
    z-index: 4;
}
.details-screens div:nth-child(3) {
    background-position: -700px 0;
}

.details-screens div.left:nth-child(4) {
    left: 18%;
    z-index: 5;
}
.details-screens div:nth-child(4) {
    background-position: -1050px 0;
}

.details-screens div:nth-child(5) {
    background-position: -1400px 0;
}

.details-screens div.right:nth-child(6) {
    right: -15%;
    z-index: 2;
}
.details-screens div:nth-child(6) {
    background-position: -1750px 0;
}

.details-screens div.right:nth-child(7) {
    right: -6%;
    z-index: 3;
}
.details-screens div:nth-child(7) {
    background-position: -2100px 0;
}

.details-screens div.right:nth-child(8) {
    right: 5%;
    z-index: 4;
}
.details-screens div:nth-child(8) {
    background-position: -2450px 0;
}

.details-screens div.right:nth-child(9) {
    right: 18%;
    z-index: 5;
}
.details-screens div:nth-child(9) {
    background-position: -2800px 0;
}

.details-screens-connex {
    position: relative;
    clear: both;
    height: 570px;
}

.details-screens-connex div {
    position: absolute;
    width: 350px;
    height: 607px;
    background: url(../images/portfolio/multiscreen/connexMultiscreen.png) no-repeat top left;
    margin-top: 20px;
}

.details-screens-connex div:not(.left):not(.right) {
    left: 50%;
    z-index: 6;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.details-screens-connex div.left:nth-child(1) {
    left: -15%;
    z-index: 2;
}
.details-screens-connex div:nth-child(1) {
    background-position: -0px 0;
}

.details-screens-connex div.left:nth-child(2) {
    left: -6%;
    z-index: 3;
}
.details-screens-connex div:nth-child(2) {
    background-position: -350px 0;
}

.details-screens-connex div.left:nth-child(3) {
    left: 5%;
    z-index: 4;
}
.details-screens-connex div:nth-child(3) {
    background-position: -700px 0;
}

.details-screens-connex div.left:nth-child(4) {
    left: 18%;
    z-index: 5;
}
.details-screens-connex div:nth-child(4) {
    background-position: -1050px 0;
}

.details-screens-connex div:nth-child(5) {
    background-position: -1400px 0;
}

.details-screens-connex div.right:nth-child(6) {
    right: -15%;
    z-index: 2;
}
.details-screens-connex div:nth-child(6) {
    background-position: -1750px 0;
}

.details-screens-connex div.right:nth-child(7) {
    right: -6%;
    z-index: 3;
}
.details-screens-connex div:nth-child(7) {
    background-position: -2100px 0;
}

.details-screens-connex div.right:nth-child(8) {
    right: 5%;
    z-index: 4;
}
.details-screens-connex div:nth-child(8) {
    background-position: -2450px 0;
}

.details-screens-connex div.right:nth-child(9) {
    right: 18%;
    z-index: 5;
}
.details-screens-connex div:nth-child(9) {
    background-position: -2800px 0;
}


.details-screens-playon {
    position: relative;
    clear: both;
    height: 570px;
}

.details-screens-playon div {
    position: absolute;
    width: 350px;
    height: 607px;
    background: url(../images/portfolio/multiscreen/playonMultiscreen.png) no-repeat top left;
    margin-top: 20px;
}

.details-screens-playon div:not(.left):not(.right) {
    left: 50%;
    z-index: 6;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.details-screens-playon div.left:nth-child(1) {
    left: -15%;
    z-index: 2;
}
.details-screens-playon div:nth-child(1) {
    background-position: -0px 0;
}

.details-screens-playon div.left:nth-child(2) {
    left: -6%;
    z-index: 3;
}
.details-screens-playon div:nth-child(2) {
    background-position: -350px 0;
}

.details-screens-playon div.left:nth-child(3) {
    left: 6%;
    z-index: 4;
}
.details-screens-playon div:nth-child(3) {
    background-position: -700px 0;
}

.details-screens-playon div.left:nth-child(4) {
    left: 18%;
    z-index: 5;
}
.details-screens-playon div:nth-child(4) {
    background-position: -1050px 0;
}

.details-screens-playon div:nth-child(5) {
    background-position: -1400px 0;
}

.details-screens-playon div.right:nth-child(6) {
    right: -15%;
    z-index: 2;
}
.details-screens-playon div:nth-child(6) {
    background-position: -1750px 0;
}

.details-screens-playon div.right:nth-child(7) {
    right: -6%;
    z-index: 3;
}
.details-screens-playon div:nth-child(7) {
    background-position: -2100px 0;
}

.details-screens-playon div.right:nth-child(8) {
    right: 5%;
    z-index: 4;
}
.details-screens-playon div:nth-child(8) {
    background-position: -2450px 0;
}

.details-screens-playon div.right:nth-child(9) {
    right: 18%;
    z-index: 5;
}
.details-screens-playon div:nth-child(9) {
    background-position: -2800px 0;
}

/** Contact **/
#contact-wrap {
    min-height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.contact-info {
    color: #ffffff;   
}

.contact-body {
    margin-top: 30px;
}

.contact-content {
    margin-top: 20px;
}

.contact-stack {
   margin-top: 20px;
}

.featured-list {
    color: #333;   
    padding-right: 10px;
    padding-left: 0;
}

.language-list {
    color: #7e7e7e;
    margin-left: 15px;
    margin-bottom: 5px;
}

/** Login **/
.login-form  {
    display: table; 
    margin-right: auto; 
    margin-left: auto;
    margin-top: 15%;
}

 .btn-primary {
     background-color: #50b3eb;
     border: none;
     padding: 12px 84px;
     font-size: 1.1250em;
     letter-spacing: 1px;
 }


input, button, select, textarea {
    padding: 5px 60px 10px 10px;

}


/** Admin **/
.form-group input {
 padding: 10px 120px 10px 10px   
}

.admin-header {
    height: 220px;
    top: 0;
    background-color: #50b3eb;
}

.admin-medium {
    font-weight: 500;   
    text-align: center;
}

.admin-case-study {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.action-header {
    width: 100%;
    display: inline;
}

.admin-right {
    margin-left: 10px;   
}

.admin-content {
    margin-bottom: 50px;
}
/* form */
.form {
    margin-top: 20px;
    margin-bottom: 100px;
}

.control-label {
    font-family: Lato, 'Open Sans', helvetica, sans-serif;
    font-weight: 100;
    font-size: 1.1250em;
}

/** Gaming **/
#wow .character-details h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.gaming {

    padding-bottom: 100px;
}

.right-shift{
    padding-right: 20px;
}

.gaming-break {
    margin-top: 20px;
    margin-bottom: -10px;
}

.game-types {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.game-types a {
    color: white;
    text-decoration: none;
}

.character-details {
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    height: 92px;
}

.character-details a {
    color: #333;
}

.character-details a:hover {
    color: #50b3eb;
    cursor: pointer;
    -webkit-transition: color .5s ease-in-out;
    -moz-transition: color .5s ease-in-out;
    -o-transition: color .5s ease-in-out;
    transition: color .5s ease-in-out;
    text-decoration: none;
}

.character-img {
    float: left;
    margin-right: 10px;
}

.diablo-img {
    margin-right: 10px;
    display: block;
    float: left;
    margin-top: 18px;
    height: 66px;
    width: 83px;
    background: url(/images/hero-nav-portraits.jpg);      
}

.crusader-female {
    background-position: -83px -330px;   
}

.wizard-female {
    background-position: -83px -264px;   
}

.monk-female {
    background-position: -83px -132px;   
}

.witch-doctor-male {
    background-position: 0 -198px;   
}

.demon-hunter-female {
    background-position: -83px -66px;   
}

.character-attributes dd {
    padding-left: 10px;
}

.orange {
    color: #FF8C00;
}

.yellow {
    color: #FFB90F;
}

.blue {
    color: #1D87FF;
}

.green {
    color: #8BA446;
}

/** Tutorials **/
.tutorials-content {
    margin-left:30px;
    margin-right: 30px;
    margin-top: -30px;
    margin-bottom: 100px;
}

.tutorials-body { 
    margin-bottom: 100px;
}

.tutorial-types {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.tutorial-types a {
    color: white;
    text-decoration: none;
}

.tutorial-tall {
    height: 600px;
    margin-top: 20px;
}

.tutorial-short {
    height: 400px;
    margin-top: 20px;
}

.hots-log a {
    margin-left: 5px;
    text-decoration: none;
}

.coming-soon {
    padding-top: 20px;   
}

/** Jvector Map **/

@media screen and (min-width: 1920px) {
    #world-map-markers {
        width: 800px;
        height: 400px; 
        bottom: 0;
        position: absolute;
        margin-bottom: 20px;
        left: 40%;
        visibility: visible;
    }
}

@media screen and (max-width: 1919px) {
    #world-map-markers {
        width: 800px;
        height: 400px; 
        bottom: 0;
        position: absolute;
        margin-bottom: 20px;
        left: 40%;
        visibility: hidden;
    }
}
