html, body {
    width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
    font-family: Lato, 'Open Sans', helvetica, sans-serif;
    background-color: #191919;
}

li {
    color: #50b3eb;
}

.hr-small {
    width: 50px;
}

.hr-large {
    border-top: 1px solid #ddd;
    width: 200px;
}

.hr-gaming {
    border-top: 5px solid #50b3eb;
    width: 100%;
    margin-top:-8px;
    
}

.hr-line-break {
    border-top: 1px solid #ddd;
    width: 100%;
    margin-top:-8px;
}


h2 {
    font-family: Lato, 'Open Sans', helvetica, sans-serif;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

h3 {
    font-family: Lato, 'Open Sans', helvetica, sans-serif;
    text-align: left;
}

h1 {
    font-family: Lato, 'Open Sans', helvetica, sans-serif;
    font-weight: bold;  
}

h4 {
    color: #50b3eb;
    font-weight: bold;
    letter-spacing: 1px;
}

.white {
    color: #ffffff;
}

.black {
    color: #333;
}

.header-center {
    text-align: center;
}

.redirect {
    font-weight: bold;
    font-family: Lato, 'Open Sans', helvetica, sans-serif;
    font-size: 12px;
}

header {
    background: #ffffff;
}

header a {
    color: #333;
    transition: color .5s;
    -webkit-transition: color .5s;
}
header a:hover {
    color: #0BABDA;
    background: none;
    transition: color .3s;
    -webkit-transition: color .3s;
}

/* Navbar */
.nav>li>a:hover {
    background: none;
}

.navbar-nav > li > a:hover {
    background: none;
}

.navbar {
    border: none;
    margin: 0;
}

.navbar {
    background: #191919;
}

.nav>li>a { 
    color: #ffffff;
    display: inline-block;
    padding: 16px 15px;
}

.navbar-default {
    border-color: #444; 
}

.nav {
    font-size: 12px;
}

.nav>li>a:hover {
    color: #50b3eb;
    cursor: pointer;
    -webkit-transition: color 1s ease-out;
    -moz-transition: color 1s ease-out;
    -o-transition: color 1s ease-out;
    transition: color 1s ease-out;
}

.nav-right {
    padding: 16px 15px;
    float:right;
    font-size: 16px;
}

#logo {
    margin-top: -4px;
    height: 25px;
}

/** Body **/

#content {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f0f5f8;
}

.content-left {
    background: #50b3eb;
    top: 50px;
    bottom: 50px;
    width: 400px;
    padding: 80px 30px;
    position: absolute;
    border-right: thick double #191919;
    border-right-style: solid;
}

.content-right {
    position: absolute;
    top: 50px;
    bottom: 50px;
    padding-left: 400px;
    width: 100%;
}

.about-wrap {
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
}

.about-img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: -20px auto 40px;
    display: block;
}

.about {
    font-size: 17px;
    font-family: Lato, 'Open Sans', helvetica, sans-serif;
    font-weight: 100;
}


.download-resume {
    color: rgba(255,255,255,.5);
    font-weight: bold;
    font-family: Lato, 'Open Sans', helvetica, sans-serif;
    font-size: 14px;
    padding-top: 5px;
}

.download-img {
    opacity: 0.5;
    margin-right: 5px;
    margin-bottom: 5px;
}

/** Featured Product **/

.featured-product {
    background: url(../images/goodlifeFitness.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    min-height: 100%;
    position: relative;
}

.featured-content {
    width: 100%;
    min-height: 100%;
    position: absolute;
    z-index: 10;
    bottom: 0;
    
}

.featured-title-overlay {
    width:100%;
    height:150px;
    position: absolute;
    z-index: 10;
    background:rgba(0, 0, 0, 0.7);
    bottom: 0;
}

.featured-overlay {
    width: 100%;
    min-height: 100%;
    position: absolute;
    background-color:rgba(9, 9, 9, 0.5);
}

.featured-title {
    font-family: Bebas Neue, 'Open Sans', helvetica, sans-serif;
    color: #ffffff;
    letter-spacing: 1px;
    src: url("../fonts/BebasNeue/BebasNeue.otf") format("opentype");
}

.featured-body {
    color: #ffffff;
    bottom: 0;
    position: absolute;
    z-index: 11;
}

.featured-mobile {
    height: 462px;
    margin-left: 40px;
    position: fixed;
    bottom: -60px;
}

.featured-text-body {
    position: fixed;
    bottom: 64px;
    margin-left: 350px;
}

.featured-text-body a {
    color: #ffffff;
    text-decoration: none;
}

.learn-more-img {
    margin-left: 5px;
    margin-bottom: 2px;
}

/** Footer **/

#footer-wrap {
    background-color: #191919;
    position: fixed;
    height: 50px;
    right: 0;
    bottom: 0;
    left: 0;
}

.footer-social-media {
    margin-top: 10px;
    padding-left: 15px;
}
.footer-social-media li {
    display:inline-block;
    margin-right: 30px;
}

.facebook, .linkedin, .github , .email{
    color: #7e7e7e;
    font-size: 30px;
    -webkit-transition: color 1s ease-out;
    -moz-transition: color 1s ease-out;
    -o-transition: color 1s ease-out;
    transition: color 1s ease-out;
}

.facebook:hover, .linkedin:hover, .github:hover, .email:hover{
    color: #50b3eb;
    cursor: pointer;
}


.footer-copyright {
    color: #7e7e7e;
    float: right;
    padding-right: 15px;
    line-height: 50px;
}

.nav-footer {
    margin-left: -25px;
}

/** Portfolio **/
#portfolio-wrap {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.portfolio-header {
    height: 300px;
    top: 0;
    background-color: #50b3eb;
}

.portfolio-title {
    padding-top: 90px;
    text-align: center;
}

.portfolio-case-studies {
    margin-left:30px;
    margin-right: 30px;
    margin-top: -90px;
    margin-bottom: 100px;
}

.case-study {
    background: #fff no-repeat center center;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    position: relative;
    height: 350px;
}

.case-study-img-overlay {
    width: 100%;
    height: 270px;
    background: rgba(9, 9, 9, 0.5);
}

.case-study-body {
    background: #ffffff;
    height: 80px;
    width: 100%;
    color: #333;
    padding: 12px;
}

.visit-site-callout {
    padding: 0;
    height: 100%;
}

.case-study-body a { 
    color: #191919;
    text-decoration: none;
}

.case-study-title {
    text-align: center;
    padding-top: 120px;
}

.portfolio-icon-type {
    height: 40px;
    position: absolute;
    right: 0;
    margin-right:20px;
    margin-top: -30px;
}

.case-study-title {
    margin-left: 30px;
    
}

/** Details **/

#details-wrap {
    overflow-y: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;   
}

.details-header {
    height: 100%;
    width: 100%;
    background: rgba(5,9,1,0);
    background: -moz-linear-gradient(top, rgba(5,9,1,0) 0%, rgba(0,0,0,0.99) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(5,9,1,0)), color-stop(100%, rgba(0,0,0,0.99)));
    background: -webkit-linear-gradient(top, rgba(5,9,1,0) 0%, rgba(0,0,0,0.99) 100%);
    background: -o-linear-gradient(top, rgba(5,9,1,0) 0%, rgba(0,0,0,0.99) 100%);
    background: -ms-linear-gradient(top, rgba(5,9,1,0) 0%, rgba(0,0,0,0.99) 100%);
    background: linear-gradient(to bottom, rgba(5,9,1,0) 0%, rgba(0,0,0,0.99) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#050901', endColorstr='#000000', GradientType=0 );
}

.details-nav {
    height: 150px;
    width: 100%;
    background-color: #191919;
    border-top: 2px solid #f0f5f8;
    position: absolute;
    bottom: 0;
    z-index: 10;
}

.details-website {
    display: block;
    height: 100%;
    width: 100%;
    background: #50b3eb;
    text-align: center;
}
    
.details-icon-type {
    position: absolute;
    margin-top: -40px;
    height: 70px;  
    display: block;
    margin-left: -35px;
    left: 50%;
}

.details-website-text {
    padding: 60px;
    font-size: 1.2em;
    text-transform: uppercase;
    color: #333;
    -webkit-transition: .4s all;
    transition: .4s all;
}
.details-website-text .fa {
    color: #fff;
    margin-left: 5px;
}

.details-website:hover {
    text-decoration: none;
}

.details-website:hover .details-website-text {
    color: #fff;
    -webkit-transition: .2s all;
    transition: .2s all;
}

.detail-nav-header {
    margin-left: 10px;
    padding: 5px;   
}

.details-body {
    min-height: 100%;
    width: 100%;
    background-color: #f0f5f8;
    padding-top: 20px;
    padding-bottom: 150px;
}

.details-content {
    margin-left: 20%;
    margin-right: 20%;
    line-height: 25px;
    padding-bottom: 20px;
}

.details-features {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
}

.details-content-img {
    height: 550px;
    margin-left: 10%;
    margin-right: 10%;
    background: url(../images/goodlifeFitness.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.details-title {
    font-family: Bebas Neue, 'Open Sans', helvetica, sans-serif;
    color: #333;
    letter-spacing: 1px;
    src: url("../fonts/BebasNeue/BebasNeue.otf") format("opentype");
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
    letter-spacing: 2px;
}

/** Contact **/
#contact-wrap {
    min-height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.contact-info {
    color: #ffffff;   
}

.contact-body {
    margin-top: 30px;
}

.contact-content {
    margin-top: 20px;
}

.contact-stack {
   margin: 20px;
}

.featured-list {
 color: #333;   
}

.language-list {
    color: #7e7e7e;
}

/** Login **/
.login-form  {
    display: table; 
    margin-right: auto; 
    margin-left: auto;
    margin-top: 15%;
}

 .btn-primary {
     background-color: #50b3eb;
     border: none;
     padding: 12px 84px;
     font-size: 18px;
     letter-spacing: 1px;
 }


input, button, select, textarea {
    padding: 5px 60px 10px 10px;

}


/** Admin **/

.admin-header {
    height: 220px;
    top: 0;
    background-color: #50b3eb;
}

.admin-medium {
    font-weight: 500;   
    text-align: center;
}

.admin-case-study {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.action-header {
    width: 100%;
    display: inline;
}

.admin-right {
    margin-left: 10px;   
}

.admin-content {
    margin-bottom: 50px;
}
/* form */
.form {
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 20px;
    margin-bottom: 100px;
}

.control-label {
    font-family: Lato, 'Open Sans', helvetica, sans-serif;
    font-weight: 100;
    font-size: 18px;
}

/** Gaming **/
.gaming {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.game-types {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.character-details {
    display: inline-block;
    margin-left: 10px;
}

.character-img {
    margin-top: -60px;
}


/** Tutorials **/
.tutorials-content {
    margin-left:30px;
    margin-right: 30px;
    margin-top: -30px;
    margin-bottom: 100px;
}

.tutorial-types {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/** Jvector Map **/

#world-map-markers {
    width: 800px;
    height: 400px; 
    bottom: 0;
    position: absolute;
    margin-bottom: 20px;
    left: 40%;
}